[submodule "vendor/cmsis_device_f4"]
	path = vendor/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4
[submodule "vendor/CMSIS_5"]
	path = vendor/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
